<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Test</title>

	<!-- Include CSS and JS files.-->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
	<script src="js/robotutils.js"></script>
	<link rel="stylesheet" href="css/Connection.css">
	<script src="js/Connection.js"> </script>
	<script type='application/javascript' src='js/fastclick.js'></script>
</head>

<body onload="">
	<div class="text-center" id="info" style="display:none">
		<div class="spinner-border" role="status" id="spinner">
			<span class="sr-only">Loading...</span>
		</div>

		


		<h1 class="display-4" id="name"></h1>
		<h1 id="timer"></h1>
		<img id="image">
	</div>
	<div class="container">
		<div class="row" id="choices">
			<div class="col-sm">
				<img id="boy" src="https://cdn.discordapp.com/attachments/639062904020140034/651054155460509696/Jonkje.png" onclick="startSubscribe('b');">
			</div>
			<div class="col-sm">
				<img id="girl" src="https://cdn.discordapp.com/attachments/639062904020140034/651054598110576641/Wyfke_goed.png" onclick="startSubscribe('f');">
			</div>
		</div>
		<div class="row">
			<div class="col-sm">
				<button id="start" type="button" class="btn btn-success btn-block" onclick="start()"><i
						class="fas fa-play fa-5x"></i></button>
				<button id="pause" type="button" class="btn btn-secondary btn-block" onclick="pause()"><i
						class="fas fa-pause fa-5x"></i></button>
				<button id="next" type="button" class="btn btn-primary btn-block" onclick="next()"><i
						class="fas fa-arrow-right fa-5x"></i></button>
			</div>
		</div>
	</div>
	<script src="https://kit.fontawesome.com/2a9dd552d3.js" crossorigin="anonymous"></script>

</body>

</html>